:root {
  --emyui-container-sm: 40rem;
  --emyui-container-md: 48rem;
  --emyui-container-lg: 64rem;
  --emyui-container-xl: 80rem;
  --emyui-border-10: 0.625rem;
  --emyui-borderRadius-10: 2.5rem;
  --emyui-fontFamily-sans: Inter, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  --emyui-boxShadow-xs: 0px 1px 2px rgba(16, 24, 40, 0.05);
  --emyui-boxShadow-sm: 0px 1px 3px rgba(16, 24, 40, 0.1),
    0px 1px 2px rgba(16, 24, 40, 0.06);
  --emyui-boxShadow-md: 0px 4px 8px -2px rgba(16, 24, 40, 0.1),
    0px 2px 4px -2px rgba(16, 24, 40, 0.06);
  --emyui-boxShadow-lg: 0px 12px 16px -4px rgba(16, 24, 40, 0.08),
    0px 4px 6px -2px rgba(16, 24, 40, 0.03);
  --emyui-boxShadow-xl: 0px 20px 24px -4px rgba(16, 24, 40, 0.08),
    0px 8px 8px -4px rgba(16, 24, 40, 0.03);
  --emyui-boxShadow-2xl: 0px 24px 48px -12px rgba(16, 24, 40, 0.18);
  --emyui-boxShadow-3xl: 0px 32px 64px -12px rgba(16, 24, 40, 0.14);
  --emyui-ringWidth-1\5: 1.5px;
  --emyui-colors-social-facebook-600: #1877f2;
  --emyui-colors-social-facebook-700: #0c63d4;
  --emyui-colors-social-facebook-DEFAULT: #1877f2;
  --emyui-colors-social-twitter-600: #1da1f2;
  --emyui-colors-social-twitter-700: #0c8bd9;
  --emyui-colors-social-twitter-DEFAULT: #1da1f2;
  --emyui-colors-social-dribbble-600: #ea4c89;
  --emyui-colors-social-dribbble-700: #e62872;
  --emyui-colors-social-dribbble-DEFAULT: #ea4c89;
  --emyui-colors-primary-25: FCFAFF;
  --emyui-colors-primary-50: #ece0ff;
  --emyui-colors-primary-100: #dfcbff;
  --emyui-colors-primary-200: #c6a2ff;
  --emyui-colors-primary-300: #ac7aff;
  --emyui-colors-primary-400: #9351ff;
  --emyui-colors-primary-500: #7a28ff;
  --emyui-colors-primary-600: #5b00ef;
  --emyui-colors-primary-700: #4600b7;
  --emyui-colors-primary-800: #30007f;
  --emyui-colors-primary-900: #1b0047;
  --emyui-colors-primary-DEFAULT: #7a28ff;
  --emyui-colors-gray-25: #fcfcfd;
  --emyui-colors-gray-50: #f9fafb;
  --emyui-colors-gray-100: #f2f4f7;
  --emyui-colors-gray-200: #eaecf0;
  --emyui-colors-gray-300: #d0d5dd;
  --emyui-colors-gray-400: #98a2b3;
  --emyui-colors-gray-500: #667085;
  --emyui-colors-gray-600: #475467;
  --emyui-colors-gray-700: #344054;
  --emyui-colors-gray-800: #1d2939;
  --emyui-colors-gray-900: #101828;
  --emyui-colors-error-25: #fffbfa;
  --emyui-colors-error-50: #fef3f2;
  --emyui-colors-error-100: #fee4e2;
  --emyui-colors-error-200: #fecdca;
  --emyui-colors-error-300: #fda29b;
  --emyui-colors-error-400: #f97066;
  --emyui-colors-error-500: #f04438;
  --emyui-colors-error-600: #d92d20;
  --emyui-colors-error-700: #b42318;
  --emyui-colors-error-800: #912018;
  --emyui-colors-error-900: #7a271a;
  --emyui-colors-warning-25: #fffcf5;
  --emyui-colors-warning-50: #fffaeb;
  --emyui-colors-warning-100: #fef0c7;
  --emyui-colors-warning-200: #fedf89;
  --emyui-colors-warning-300: #fec84b;
  --emyui-colors-warning-400: #fdb022;
  --emyui-colors-warning-500: #f79009;
  --emyui-colors-warning-600: #dc6803;
  --emyui-colors-warning-700: #b54708;
  --emyui-colors-warning-800: #93370d;
  --emyui-colors-warning-900: #7a2e0e;
  --emyui-colors-success-25: #f6fef9;
  --emyui-colors-success-50: #ecfdf3;
  --emyui-colors-success-100: #d1fadf;
  --emyui-colors-success-200: #a6f4c5;
  --emyui-colors-success-300: #6ce9a6;
  --emyui-colors-success-400: #32d583;
  --emyui-colors-success-500: #12b76a;
  --emyui-colors-success-600: #039855;
  --emyui-colors-success-700: #027a48;
  --emyui-colors-success-800: #05603a;
  --emyui-colors-success-900: #054f31;
  --emyui-colors-gray-blue-25: #fcfcfd;
  --emyui-colors-gray-blue-50: #f8f9fc;
  --emyui-colors-gray-blue-100: #eaecf5;
  --emyui-colors-gray-blue-200: #d5d9eb;
  --emyui-colors-gray-blue-300: #b3b8db;
  --emyui-colors-gray-blue-400: #717bbc;
  --emyui-colors-gray-blue-500: #4e5ba6;
  --emyui-colors-gray-blue-600: #3e4784;
  --emyui-colors-gray-blue-700: #363f72;
  --emyui-colors-gray-blue-800: #293056;
  --emyui-colors-gray-blue-900: #101323;
  --emyui-colors-gray-cool-25: #fcfcfd;
  --emyui-colors-gray-cool-50: #f9f9fb;
  --emyui-colors-gray-cool-100: #eff1f5;
  --emyui-colors-gray-cool-200: #dcdfea;
  --emyui-colors-gray-cool-300: #b9c0d4;
  --emyui-colors-gray-cool-400: #7d89b0;
  --emyui-colors-gray-cool-500: #5d6b98;
  --emyui-colors-gray-cool-600: #4a5578;
  --emyui-colors-gray-cool-700: #404968;
  --emyui-colors-gray-cool-800: #30374f;
  --emyui-colors-gray-cool-900: #111322;
  --emyui-colors-gray-modern-25: #fcfcfd;
  --emyui-colors-gray-modern-50: #f8fafc;
  --emyui-colors-gray-modern-100: #eef2f6;
  --emyui-colors-gray-modern-200: #e3e8ef;
  --emyui-colors-gray-modern-300: #cdd5df;
  --emyui-colors-gray-modern-400: #9aa4b2;
  --emyui-colors-gray-modern-500: #697586;
  --emyui-colors-gray-modern-600: #4b5565;
  --emyui-colors-gray-modern-700: #364152;
  --emyui-colors-gray-modern-800: #202939;
  --emyui-colors-gray-modern-900: #121926;
  --emyui-colors-gray-neutral-25: #fcfcfd;
  --emyui-colors-gray-neutral-50: #f9fafb;
  --emyui-colors-gray-neutral-100: #f3f4f6;
  --emyui-colors-gray-neutral-200: #e5e7eb;
  --emyui-colors-gray-neutral-300: #d2d6db;
  --emyui-colors-gray-neutral-400: #9da4ae;
  --emyui-colors-gray-neutral-500: #6c737f;
  --emyui-colors-gray-neutral-600: #4d5761;
  --emyui-colors-gray-neutral-700: #384250;
  --emyui-colors-gray-neutral-800: #1f2a37;
  --emyui-colors-gray-neutral-900: #111927;
  --emyui-colors-gray-iron-25: #fcfcfc;
  --emyui-colors-gray-iron-50: #fafafa;
  --emyui-colors-gray-iron-100: #f4f4f5;
  --emyui-colors-gray-iron-200: #e4e4e7;
  --emyui-colors-gray-iron-300: #d1d1d6;
  --emyui-colors-gray-iron-400: #a0a0ab;
  --emyui-colors-gray-iron-500: #70707b;
  --emyui-colors-gray-iron-600: #51525c;
  --emyui-colors-gray-iron-700: #3f3f46;
  --emyui-colors-gray-iron-800: #26272b;
  --emyui-colors-gray-iron-900: #18181b;
  --emyui-colors-gray-true-25: #fcfcfc;
  --emyui-colors-gray-true-50: #fafafa;
  --emyui-colors-gray-true-100: #f5f5f5;
  --emyui-colors-gray-true-200: #e5e5e5;
  --emyui-colors-gray-true-300: #d6d6d6;
  --emyui-colors-gray-true-400: #a3a3a3;
  --emyui-colors-gray-true-500: #737373;
  --emyui-colors-gray-true-600: #525252;
  --emyui-colors-gray-true-700: #424242;
  --emyui-colors-gray-true-800: #292929;
  --emyui-colors-gray-true-900: #141414;
  --emyui-colors-gray-warm-25: #fdfdfc;
  --emyui-colors-gray-warm-50: #fafaf9;
  --emyui-colors-gray-warm-100: #f5f5f4;
  --emyui-colors-gray-warm-200: #e7e5e4;
  --emyui-colors-gray-warm-300: #d7d3d0;
  --emyui-colors-gray-warm-400: #a9a29d;
  --emyui-colors-gray-warm-500: #79716b;
  --emyui-colors-gray-warm-600: #57534e;
  --emyui-colors-gray-warm-700: #44403c;
  --emyui-colors-gray-warm-800: #292524;
  --emyui-colors-gray-warm-900: #1c1917;
  --emyui-colors-moss-25: #fafdf7;
  --emyui-colors-moss-50: #f5fbee;
  --emyui-colors-moss-100: #e6f4d7;
  --emyui-colors-moss-200: #ceeab0;
  --emyui-colors-moss-300: #acdc79;
  --emyui-colors-moss-400: #86cb3c;
  --emyui-colors-moss-500: #669f2a;
  --emyui-colors-moss-600: #4f7a21;
  --emyui-colors-moss-700: #3f621a;
  --emyui-colors-moss-800: #335015;
  --emyui-colors-moss-900: #2b4212;
  --emyui-colors-green-light-25: #fafef5;
  --emyui-colors-green-light-50: #f3fee7;
  --emyui-colors-green-light-100: #e4fbcc;
  --emyui-colors-green-light-200: #d0f8ab;
  --emyui-colors-green-light-300: #a6ef67;
  --emyui-colors-green-light-400: #85e13a;
  --emyui-colors-green-light-500: #66c61c;
  --emyui-colors-green-light-600: #4ca30d;
  --emyui-colors-green-light-700: #3b7c0f;
  --emyui-colors-green-light-800: #326212;
  --emyui-colors-green-light-900: #2b5314;
  --emyui-colors-green-25: #f6fef9;
  --emyui-colors-green-50: #edfcf2;
  --emyui-colors-green-100: #d3f8df;
  --emyui-colors-green-200: #aaf0c4;
  --emyui-colors-green-300: #73e2a3;
  --emyui-colors-green-400: #3ccb7f;
  --emyui-colors-green-500: #16b364;
  --emyui-colors-green-600: #099250;
  --emyui-colors-green-700: #087443;
  --emyui-colors-green-800: #095c37;
  --emyui-colors-green-900: #084c2e;
  --emyui-colors-teal-25: #f6fefc;
  --emyui-colors-teal-50: #f0fdf9;
  --emyui-colors-teal-100: #ccfbef;
  --emyui-colors-teal-200: #99f6e0;
  --emyui-colors-teal-300: #5fe9d0;
  --emyui-colors-teal-400: #2ed3b7;
  --emyui-colors-teal-500: #15b79e;
  --emyui-colors-teal-600: #0e9384;
  --emyui-colors-teal-700: #107569;
  --emyui-colors-teal-800: #125d56;
  --emyui-colors-teal-900: #134e48;
  --emyui-colors-cyan-25: #f5feff;
  --emyui-colors-cyan-50: #ecfdff;
  --emyui-colors-cyan-100: #cff9fe;
  --emyui-colors-cyan-200: #a5f0fc;
  --emyui-colors-cyan-300: #67e3f9;
  --emyui-colors-cyan-400: #22ccee;
  --emyui-colors-cyan-500: #06aed4;
  --emyui-colors-cyan-600: #088ab2;
  --emyui-colors-cyan-700: #0e7090;
  --emyui-colors-cyan-800: #155b75;
  --emyui-colors-cyan-900: #164c68;
  --emyui-colors-blue-light-25: #f5fbff;
  --emyui-colors-blue-light-50: #f0f9ff;
  --emyui-colors-blue-light-100: #e0f2fe;
  --emyui-colors-blue-light-200: #b9e6fe;
  --emyui-colors-blue-light-300: #7cd4fd;
  --emyui-colors-blue-light-400: #36bffa;
  --emyui-colors-blue-light-500: #0ba5fc;
  --emyui-colors-blue-light-600: #0086c9;
  --emyui-colors-blue-light-700: #026aa2;
  --emyui-colors-blue-light-800: #065986;
  --emyui-colors-blue-light-900: #0b4a6f;
  --emyui-colors-blue-25: #f5faff;
  --emyui-colors-blue-50: #eff8ff;
  --emyui-colors-blue-100: #d1e9ff;
  --emyui-colors-blue-200: #b2ddff;
  --emyui-colors-blue-300: #84caff;
  --emyui-colors-blue-400: #53b1fd;
  --emyui-colors-blue-500: #2e90fa;
  --emyui-colors-blue-600: #1570ef;
  --emyui-colors-blue-700: #175cd3;
  --emyui-colors-blue-800: #1849a9;
  --emyui-colors-blue-900: #194185;
  --emyui-colors-blue-dark-25: #f5f8ff;
  --emyui-colors-blue-dark-50: #eff4ff;
  --emyui-colors-blue-dark-100: #d1e0ff;
  --emyui-colors-blue-dark-200: #b2ccff;
  --emyui-colors-blue-dark-300: #84adff;
  --emyui-colors-blue-dark-400: #528bff;
  --emyui-colors-blue-dark-500: #2970ff;
  --emyui-colors-blue-dark-600: #155eef;
  --emyui-colors-blue-dark-700: #004eeb;
  --emyui-colors-blue-dark-800: #0040c1;
  --emyui-colors-blue-dark-900: #00359e;
  --emyui-colors-indigo-25: #f5f8ff;
  --emyui-colors-indigo-50: #eef4ff;
  --emyui-colors-indigo-100: #e0eaff;
  --emyui-colors-indigo-200: #c7d7fe;
  --emyui-colors-indigo-300: #a4bcfd;
  --emyui-colors-indigo-400: #8098f9;
  --emyui-colors-indigo-500: #6172f3;
  --emyui-colors-indigo-600: #444ce7;
  --emyui-colors-indigo-700: #3538cd;
  --emyui-colors-indigo-800: #2d31a6;
  --emyui-colors-indigo-900: #2d3282;
  --emyui-colors-violet-25: #fbfaff;
  --emyui-colors-violet-50: #f5f3ff;
  --emyui-colors-violet-100: #ece9fe;
  --emyui-colors-violet-200: #ddd6fe;
  --emyui-colors-violet-300: #c3b5fd;
  --emyui-colors-violet-400: #a48afb;
  --emyui-colors-violet-500: #875bf7;
  --emyui-colors-violet-600: #7839ee;
  --emyui-colors-violet-700: #6927da;
  --emyui-colors-violet-800: #5720b7;
  --emyui-colors-violet-900: #491c96;
  --emyui-colors-purple-25: #fafaff;
  --emyui-colors-purple-50: #f4f3ff;
  --emyui-colors-purple-100: #ebe9fe;
  --emyui-colors-purple-200: #d9d6fe;
  --emyui-colors-purple-300: #bdb4fe;
  --emyui-colors-purple-400: #9b8afb;
  --emyui-colors-purple-500: #7a5af8;
  --emyui-colors-purple-600: #6938ef;
  --emyui-colors-purple-700: #5925dc;
  --emyui-colors-purple-800: #4a1fb8;
  --emyui-colors-purple-900: #3e1c96;
  --emyui-colors-fuchsia-25: #fefaff;
  --emyui-colors-fuchsia-50: #fdf4ff;
  --emyui-colors-fuchsia-100: #fbe8ff;
  --emyui-colors-fuchsia-200: #f6d0fe;
  --emyui-colors-fuchsia-300: #eeaafd;
  --emyui-colors-fuchsia-400: #e478fa;
  --emyui-colors-fuchsia-500: #d444f1;
  --emyui-colors-fuchsia-600: #ba24d5;
  --emyui-colors-fuchsia-700: #9f1ab1;
  --emyui-colors-fuchsia-800: #821890;
  --emyui-colors-fuchsia-900: #6f1877;
  --emyui-colors-pink-25: #fef6fb;
  --emyui-colors-pink-50: #fdf2fa;
  --emyui-colors-pink-100: #fce7f6;
  --emyui-colors-pink-200: #fcceee;
  --emyui-colors-pink-300: #faa7e0;
  --emyui-colors-pink-400: #f670c7;
  --emyui-colors-pink-500: #ee46bc;
  --emyui-colors-pink-600: #dd2590;
  --emyui-colors-pink-700: #c11574;
  --emyui-colors-pink-800: #9e165f;
  --emyui-colors-pink-900: #851651;
  --emyui-colors-rose-25: #fff5f6;
  --emyui-colors-rose-50: #fff1f3;
  --emyui-colors-rose-100: #ffe4e8;
  --emyui-colors-rose-200: #fecdd6;
  --emyui-colors-rose-300: #fea3b4;
  --emyui-colors-rose-400: #fd6f8e;
  --emyui-colors-rose-500: #f63d68;
  --emyui-colors-rose-600: #e31b54;
  --emyui-colors-rose-700: #c01048;
  --emyui-colors-rose-800: #a11043;
  --emyui-colors-rose-900: #89123e;
  --emyui-colors-orange-dark-25: #fff9f5;
  --emyui-colors-orange-dark-50: #fff4ed;
  --emyui-colors-orange-dark-100: #ffe6d5;
  --emyui-colors-orange-dark-200: #ffd6ae;
  --emyui-colors-orange-dark-300: #ff9c66;
  --emyui-colors-orange-dark-400: #ff692e;
  --emyui-colors-orange-dark-500: #ff4405;
  --emyui-colors-orange-dark-600: #e62e05;
  --emyui-colors-orange-dark-700: #bc1b06;
  --emyui-colors-orange-dark-800: #97180c;
  --emyui-colors-orange-dark-900: #771a0d;
  --emyui-colors-orange-25: #fefaf5;
  --emyui-colors-orange-50: #fef6ee;
  --emyui-colors-orange-100: #fdead7;
  --emyui-colors-orange-200: #f9dbaf;
  --emyui-colors-orange-300: #f7b27a;
  --emyui-colors-orange-400: #f38744;
  --emyui-colors-orange-500: #ef6820;
  --emyui-colors-orange-600: #e04f16;
  --emyui-colors-orange-700: #b93815;
  --emyui-colors-orange-800: #932f19;
  --emyui-colors-orange-900: #772917;
  --emyui-colors-yellow-25: #fefdf0;
  --emyui-colors-yellow-50: #fefbe8;
  --emyui-colors-yellow-100: #fef7c3;
  --emyui-colors-yellow-200: #feee95;
  --emyui-colors-yellow-300: #fde272;
  --emyui-colors-yellow-400: #fac515;
  --emyui-colors-yellow-500: #eaaa08;
  --emyui-colors-yellow-600: #ca8504;
  --emyui-colors-yellow-700: #a15c07;
  --emyui-colors-yellow-800: #854a0e;
  --emyui-colors-yellow-900: #713b12;
  --emyui-spacing-3\75: 0.938rem;
  --emyui-spacing-4\5: 1.125rem;
  --emyui-spacing-sidebar: 17.5rem;
  --emyui-fontSize-display-2xl-0: 4.5rem;
  --emyui-fontSize-display-2xl-1-lineHeight: 5.625rem;
  --emyui-fontSize-display-2xl-1-letterSpacing: -0.02em;
  --emyui-fontSize-display-xl-0: 3.75rem;
  --emyui-fontSize-display-xl-1-lineHeight: 4.625rem;
  --emyui-fontSize-display-xl-1-letterSpacing: -0.02em;
  --emyui-fontSize-display-lg-0: 3rem;
  --emyui-fontSize-display-lg-1-lineHeight: 3.75rem;
  --emyui-fontSize-display-lg-1-letterSpacing: -0.02em;
  --emyui-fontSize-display-md-0: 2.25rem;
  --emyui-fontSize-display-md-1-lineHeight: 2.75rem;
  --emyui-fontSize-display-md-1-letterSpacing: -0.02em;
  --emyui-fontSize-display-sm-0: 1.875rem;
  --emyui-fontSize-display-sm-1-lineHeight: 2.375rem;
  --emyui-fontSize-display-xs-0: 1.5rem;
  --emyui-fontSize-display-xs-1-lineHeight: 2rem;
  --emyui-fontSize-xl-0: 1.25rem;
  --emyui-fontSize-xl-1-lineHeight: 1.875rem;
  --emyui-fontSize-lg-0: 1.125rem;
  --emyui-fontSize-lg-1-lineHeight: 1.75rem;
  --emyui-fontSize-md-0: 1rem;
  --emyui-fontSize-md-1-lineHeight: 1.5rem;
  --emyui-fontSize-sm-0: 0.875rem;
  --emyui-fontSize-sm-1-lineHeight: 1.25rem;
  --emyui-fontSize-xs-0: 0.75rem;
  --emyui-fontSize-xs-1-lineHeight: 1.125rem;
}
